@model HrWebApp.Models.RegistrationRecruiterModel

@{
    ViewData["Title"] = "SignUpRecruiter";
}

<h1>SignUpRecruiter</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUpRecruiter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CompanyPhoneNumber" class="control-label"></label>
                <input asp-for="CompanyPhoneNumber" class="form-control" />
                <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanySize" class="control-label"></label>
                <input asp-for="CompanySize" class="form-control" />
                <span asp-validation-for="CompanySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyIndustry" class="control-label"></label>
                <input asp-for="CompanyIndustry" class="form-control" />
                <span asp-validation-for="CompanyIndustry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDescription" class="control-label"></label>
                <textarea asp-for="CompanyDescription" class="form-control"></textarea>
                <span asp-validation-for="CompanyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
