
@if(User.Identity.IsAuthenticated) {
    <form method="post" class="form-inline" asp-controller="" asp-action="">
        Welcome @User.Identity.Name
        <button type="submit" class="ml-2 btn btn-link">Logout</button>
    </form>   
}
else {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item dropdown d-block">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                 My account
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Profiles" asp-action="SignIn">Log in</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="profiles" asp-action="SignUpStudent">Registration</a></li>
                </ul>                                
            </li>
            <li class="nav-item d-none">
                <a class="nav-link text-dark" asp-area="" asp-controller="Profiles" asp-action="CreateRecruiterAccount">Contact us</a>
            </li>
        </ul>
}
