@using HrWebApp.HrMethod;
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid actor">
        <a class="navbar-brand" asp-controller="Recruiter" asp-action="Account"><i class="bi bi-house-fill text-primary"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Recruiter" asp-action="Account">Recruiters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Recruiter" asp-action="Statistics" asp-route-id="@FromData.GetCompanyId(User.Identity.Name)">Statistics</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between mr-2 component">
            <ul class="navbar-nav flex-grow-1">
                <partial name="_LoginStatusPartial" />
            </ul>
        </div>
    </div>
</nav>