@*

*@
@{
}
<div class="recruiter-main">
    <div class="recruiter-main_description d-flex">
        <div class="w-50 m-auto">
            <p>Get access to the largest pool of Gen Z talent</p>
            <p>
                Easily recruit the best students and young graduates all over Europe.
            </p>
            <a class="btn btn-outline-success btn-lg" role="button" href="#solutions">Discover our solutions</a>
        </div>
        <div class="w-50 m-auto">
            <p>
                By joining JobTeaser,<br />
                you join a unique ecosystem:
            </p>
            <p>A community of qualified young talent</p>
            <p>The official Career Center of institutions of higher education</p>
            <p>The perfect choice for recruiters</p>
        </div>
    </div>
    <div id="solutions" class="recruiter-main_solutions">
        <div class="recruiter-main_solutions_description d-flex">
            <div class="w-25 m-auto">
                <h3>COMPANY PAGE AND JOB ADS</h3>
                <p>Recruit through the largest network of universities in Europe</p>
                <p>Choose the only 2-in-1 solution that enables you strengthen your employer brand and publish your job ads directly</p>
                <a class="btn btn-primary btn-lg" asp-controller="Recruiter" asp-action="CreateCompany">Find out more</a>
            </div>
            <div class="w-75">
                <img src="~/img/job-hiring.png" alt="Job Hiring" class="w-100"/>
            </div>
        </div>
        <div class="recruiter-main_solutions_menu d-flex">
            <div class="w-50 m-auto">
                <h1>Create your company page</h1>
                <p><b>Stand out</b><br />Grab the attention of the new generation from the competitors with a company page that truly reflects your unique culture</p>
                <p><b>Manage all your recruitment needs</b><br />Centralise all your employer branding communication and job postings in a single place</p>
                <a class="btn btn-primary btn-lg" asp-controller="Recruiter" asp-action="CreateCompany">Recruiters Join us</a>
            </div>
            <div class="w-50 m-auto">
                <h1>Publish your job ads</h1>
                <p><b>Multi-post your jobs</b><br />
                With 1 click, publish your job ads on all the Career Centersn in Europe</p>

                <p>
                    <b>Recruit qualified candidates</b><br />
                    Access our talent pool of diverse profiles from bachelor's degree in business school to young engineering graduates
                </p>

                <p>
                    <b>Track your performance</b><br />
                    All your job ads statistics are accessible from your recruiter space
                </p>
            </div>
        </div>
    </div>
</div>