html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.not-active {
     pointer-events: none;
     cursor: default;
     text-decoration: none;
     color: #000000;
 }

.btn-link {
    border: none;
    background-color: #0d74f3;
    color: #fff;
    font-weight: bolder;
    width: 25%;
    text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profile-login {
    position: relative;
    top: 3px;
}

header .actor {
    margin-left: 100px;
}

header .component {
    margin-left: 38%;
}

.section-student_job, .section-student_company {
    display: flex;
}

.section-student_job_content, .section-student_company_content {
    margin: auto;
}

.section-student_job_content, .section-student_job_image, 
.section-student_company_content, .section-student_company_image {
    width: 50%;
}

.section-student_job_image .section-student_company_image {
    width: 700px;
    height: 500px;
}

.section-student_job_image img, .section-student_company_image img {
    width: 100%;
}

.section-student_job_content a, .section-student_company_content a {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
}

.section-student_job_content p:nth-child(1) {
    font-size: 50px;
    font-weight: bolder;
}

.section-student_company_content p:nth-child(1) {
    font-size: xx-large;
    font-weight: bolder;
}

.section-student_job_content p:nth-child(2), .section-student_company_content p:nth-child(2) {
    font-size: medium;
    font-weight: bold;
}
.body_container {
    background-color: #cdbebe;
    padding: 0px 44px;
    width: 100%;
}
.form_student_profile {
    margin: 10px 0 10px 0;
    width: 900px;
}
.form_student_profile_submit {
    margin: 10px 0 10px 10px;
    width: 200px;
    cursor:pointer;
}
@media (min-width: 1200px) .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
}

.companies-content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.companies-content a {
    text-decoration: none;
}
.companies-content_element {
    margin: 20px;
    width: 400px;
    height: 100%;
}
.companies-content_element_footer::before {
    content: "\f170";
    font-family: "Bootstrap-icons";
}

.recruiter-formJob {
    width: 100%;
}

.recruiter-company {

}

.recruiter-company_header {

}

.recruiter-company_header_title a {
    margin: 10px 0px 20px;
    font-weight: bolder;
}

.CompanyPage_header {
    display: flex;
    margin-bottom: 25px;
}

.CompanyPage_header .CompanyPage_description {
    width: 70%;
}

.CompanyPage_header .CompanyPage_url {
    margin: auto;
}

.CompanyPage_url a {
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(24, 116, 10);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    font-style: italic;
}

.recruiter-company_header_description, .CompanyPage_insideCompany, .CompanyPage_info, .Job-Page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(64, 62, 62);
    border: 1px solid #0d74f3;
    border-radius: 15px;
    padding: 15px 30px;
    color: #fff;
    margin-bottom: 20px;
}

.recruiter-company_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recruiter-company_body_description, .CompanyPage_description {
    background-color: rgb(243, 235, 235);
    color: #000;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    padding: 30px;
    height: 300px;
    overflow: auto;
}

.recruiter-company_body_jobs, .student-account_jobs {
margin: auto;
}

    .recruiter-company_body_jobs a, .student-account_jobs a {
        text-decoration: none;
    }

.recruiter-company_body_jobs_element, .student-account_jobs_item {
    border: 1px solid #d5d3d3;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    cursor: pointer;
    padding: 30px;
    background-color: rgb(243, 235, 235);
}

    .recruiter-company_body_jobs_element:hover, .student-account_jobs_item:hover {
        background-color: #b6ff00;
    }

.recruiter-company_body_jobs_element div:nth-child(n+1) {
    color: #808080;
    font-size: 14px;
}

.Job-Page_jobInformations div:nth-child(3) {
    width:70%;
}

.recruiter-company_body_jobs_element div:nth-child(4) {
    font-size: 10px;
    text-align: right;
}

.recruiter-formJob_companyName {
}

.recruiter-formJob_jobDetails, .recruiter-formJob_jobRequirements {
    border: 1px solid blue !important;
    margin-bottom: 10px;
}

fieldset legend {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.student-account {

}

.student-account_content, .Job-Page_jobInformations, .Job-Page_jobDetails {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: rgb(64, 62, 62);
    margin: 20px;
    border-radius: 15px;
    padding: 15px 20px;
}

.Job-Page_jobInformations {

}

.Job-Page_link {
    margin: 20px;
}

.Job-Page_link a {
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(24, 116, 10);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    font-style: italic;
    width: 5%;
}

.Job-Page_jobCompany {
}

